<!doctype html>
<html>
<head>
	<title>Panel główny</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Panel główny</h1>

            <p>Zaloguj lub zarejestruj:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Logowanie</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Rejestracja</a>
            
        </div>
        <p>Zobacz regulamin <a href="/regulamin">Regulamin</a></p>
        <p>Logowanie pracownika <a href="/praclogin">Zaloguj</a></p>
        <p>Znajdź na mapie najbliższe punkty <a href="/mapka">Sprawdź</a></p>
    </div>
</body>
</html>