<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Regulamin</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
        <h1><span ></span> Regulamin</h1>
        <p class="text-left">  
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et est vel dolor auctor vestibulum vel tristique risus. Phasellus mattis pellentesque euismod. Etiam ac pulvinar leo. Maecenas ipsum tortor, ornare ut luctus eu, posuere vel mauris. Donec et suscipit tellus. Vivamus egestas pellentesque erat. Maecenas diam magna, lobortis sit amet dapibus a, laoreet quis orci. Duis feugiat purus et tincidunt dapibus. Morbi est ex, placerat sit amet nisl ac, iaculis convallis nibh. Aliquam maximus lobortis sem id vestibulum.
            
            Nulla id tellus velit. Vestibulum porta bibendum sem, eu rhoncus arcu egestas vel. Pellentesque felis diam, blandit vel lacus eget, suscipit elementum eros. Duis sed finibus ante, quis lacinia nulla. Donec ac ipsum euismod ex sollicitudin rhoncus. Fusce rhoncus ex leo, sed cursus lectus pharetra at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque ac pretium nulla, id ullamcorper nisl. Fusce a neque eu nulla lacinia aliquam. Vestibulum sed porta justo.
            
            Praesent rutrum risus at nibh iaculis, auctor bibendum nulla placerat. Nulla nibh diam, porttitor sit amet quam id, aliquet volutpat massa. Vivamus commodo rutrum lacus nec pulvinar. Duis nec velit risus. Praesent est massa, elementum quis rhoncus vel, viverra id metus. Donec interdum consequat hendrerit. Vestibulum suscipit nibh mi, ac molestie mauris finibus at. Phasellus vehicula semper dignissim. Aenean ut mattis nibh. Nullam id libero ultricies nunc eleifend tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            
            Quisque ornare pulvinar enim a feugiat. Phasellus ac erat laoreet, consectetur lectus sed, gravida erat. Quisque pretium suscipit rutrum. Etiam dictum sapien non erat bibendum condimentum. In in viverra sapien. Ut diam risus, fermentum sit amet lectus ac, vestibulum dapibus massa. Aenean semper, turpis a volutpat fringilla, enim enim rutrum ipsum, eu consectetur eros ipsum quis purus. Sed mauris diam, scelerisque sed blandit sit amet, viverra ac justo. Aliquam sit amet interdum magna.
            
            Etiam convallis sem eget lectus auctor, quis rhoncus ligula hendrerit. Donec gravida nunc eu libero mollis elementum. Donec non neque cursus, pharetra libero at, auctor eros. Phasellus id posuere lorem. Integer orci urna, elementum eget tempor vel, auctor sed elit. Praesent vitae nulla velit. Integer a varius augue. Sed eu ultrices magna, et tincidunt augue. Nunc semper, dui ac tempus dapibus, nisi turpis rutrum nisl, in efficitur risus felis sed ligula. Cras gravida in mi non vehicula.
            
            Vestibulum egestas eros at ex volutpat, nec luctus ex suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi in eros urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis sit amet neque quis sem eleifend dapibus et tristique dolor. Pellentesque commodo a justo sed porttitor. Etiam ut lectus a odio placerat commodo gravida sed ex. Nullam congue augue ante, in malesuada augue lobortis quis. Curabitur a nisi venenatis, viverra diam et, tincidunt neque. Nulla ut neque dui. Vestibulum sit amet sagittis lectus. Nunc maximus sagittis lacus et ultricies. Vestibulum pellentesque metus mi, in consequat dolor congue sit amet. Pellentesque massa ante, tincidunt in lorem in, lacinia mattis nulla. Duis tempor urna ut tellus ultrices, quis commodo risus sagittis.
            
            Nunc vel accumsan eros, in porttitor leo. Curabitur volutpat aliquam ligula ut condimentum. Vestibulum tincidunt iaculis velit. Aenean hendrerit mauris at ipsum placerat sollicitudin. Fusce quis risus dolor. Nam finibus in ante id efficitur. Pellentesque sodales facilisis convallis. Praesent tincidunt lectus nec tristique dictum. Nam in convallis felis. Quisque tellus mi, maximus sed urna in, posuere condimentum diam. Fusce sollicitudin mattis dignissim. Integer vitae porttitor sapien. Suspendisse quis augue efficitur tortor convallis dignissim. Nunc blandit neque a sapien varius, non scelerisque diam convallis. Vivamus vel eros eleifend, facilisis diam eu, ornare quam. Sed et ipsum urna.
            
            Pellentesque non condimentum mauris. Curabitur tincidunt nunc et sem facilisis, ac tempor lectus auctor. Nam massa odio, fringilla et euismod vel, iaculis at erat. Mauris feugiat cursus sem id vehicula. Integer dictum lorem tempor justo ornare vulputate. Donec eleifend dictum eros, sit amet vulputate sem pulvinar lacinia. Nulla consequat tortor eget nibh sollicitudin, vel molestie lacus molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse posuere mattis justo, at fermentum diam facilisis id. Donec lorem diam, malesuada vel consectetur vel, finibus vitae nisi. Vivamus suscipit felis elit, quis volutpat nisl eleifend ac. Proin euismod libero blandit ex laoreet mattis. Mauris rhoncus condimentum sem, vel fermentum nisi pellentesque id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Sed rutrum dolor in neque molestie sollicitudin.
            
            Aliquam sed aliquet nisi, eu lobortis mauris. Pellentesque malesuada lacus ut nisl lobortis vestibulum. Praesent eget lectus magna. Phasellus non elit a ante ultricies lacinia. Donec non lobortis ipsum. Fusce ullamcorper interdum rhoncus. Phasellus ex urna, consequat sit amet erat eget, tristique lacinia mauris. Aenean laoreet ante at elit lobortis, dapibus luctus leo fringilla.
            
            Nullam blandit turpis et justo auctor mattis. Nam interdum vulputate condimentum. Morbi sit amet sem dolor. Curabitur congue dolor hendrerit vulputate accumsan. Donec vehicula eget tortor eget porta. Phasellus sollicitudin augue ac metus vehicula feugiat ac venenatis nisl. Sed sed egestas sem. Suspendisse potenti. Ut efficitur sit amet leo et facilisis. Fusce a tristique dolor. Proin congue commodo tellus, dictum mattis nisi efficitur ac. Etiam vel lectus pellentesque, facilisis mauris sed, euismod nibh.
            
            Donec vel justo nulla. Proin vel tellus sed dui hendrerit placerat vitae non ex. Aenean suscipit, justo eget tristique luctus, mauris tortor pulvinar mi, non iaculis massa urna at ante. Duis in facilisis elit, sed euismod risus. Pellentesque a velit nunc. Nunc eu dolor feugiat, placerat orci a, sodales risus. Quisque ut bibendum mauris. Nunc tempor felis nisi.
            
            Curabitur non luctus metus, nec iaculis ex. Nullam purus libero, commodo et dictum eu, mollis sed sapien. Donec eget urna vel mi ultrices volutpat id eu eros. Nullam at dictum lacus, sit amet blandit mauris. Vestibulum euismod id ligula ac egestas. Nulla convallis magna nec vestibulum fermentum. Proin tempus auctor lorem ac tincidunt. Integer tincidunt felis eu eros vestibulum feugiat. Cras non nunc a risus mattis mattis.
            
            Donec molestie, dui quis varius consequat, nisl turpis vulputate nunc, nec viverra lacus ligula nec justo. Maecenas mattis, tortor quis bibendum ultrices, libero nibh iaculis tortor, quis vehicula mauris purus vitae augue. Morbi tellus risus, luctus vitae est vitae, ullamcorper posuere neque. Pellentesque a sollicitudin leo, quis scelerisque elit. In pulvinar quis tortor et commodo. Ut et pellentesque lacus. Sed fermentum quam nec felis semper, ac convallis est tempor. Nam cursus velit leo, ut interdum elit mattis quis. 
        </p>
        <a href="/regulaminback" class="btn btn-default btn-sm">Powrót</a>
	</div>

</div>
</body>
</html>